/* Global 
======================= */

*:before, *:after, * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { font-size: 100%; }
body { background: url('../images/'); }
.container {
	margin: 0 auto;
	width: 80%;
	max-width: 54rem;
}
a { text-decoration: none; color: #4EA1E8; }

/* Header 
=================== */
header { 
	background-color: rgba(4,4,4,1); 
	min-height: 5rem; 
	padding-top: 1.8rem;
	margin-bottom: 3px;
}
header a { 
	color: #CCCCC1; 
	padding: 1.6rem 1rem 2rem 1rem; 
	-webkit-transition: color 1s ease, border-top .3s ease;
	-o-transition: color 1s ease, border-top .3s ease;
	transition: color 1s ease, border-top .3s ease;
}
header a:hover { 
	color: #4EA1E8; 
	background: -moz-linear-gradient(top, rgba(25,42,43,1) 0%, rgba(4,4,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,42,43,1)), color-stop(100%,rgba(4,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(25,42,43,1) 0%,rgba(4,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(25,42,43,1) 0%,rgba(4,4,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(25,42,43,1) 0%,rgba(4,4,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(25,42,43,1) 0%,rgba(4,4,4,1) 100%); /* W3C */
	border-top: 3px solid #4EA1E8;
}

/* Gray BG 
=================== */
.gray-bg { 
	width: 100%; 
	height: 23rem; 
	background: url('../images/bg_body.jpg'); 
	position: absolute; 
	border-bottom: 1px solid white;
	z-index: -99; 
}


/* Logo 
==================== */
.logo-social-row { margin: 1.5rem 0; }
.logo { float:left; position: absolute;}
.logo:hover {
  -webkit-animation: bounce .6s 1 ease; /* Safari 4+ */
  -moz-animation:    bounce .6s 1 ease; /* Fx 5+ */
  -o-animation:      bounce .6s 1 ease; /* Opera 12+ */
  animation:         bounce .6s 1 ease; /* IE 10+, Fx 29+ */
}

@keyframes bounce {
    45% {
        height: 44px;
        margin-top: 5px;
    }
    55% {
        height: 44px;
        margin-top: 5px;
    }
    75% {
        height: 64px;
        margin-top: 0px;
    }
}

@-webkit-keyframes bounce {
    45% {
        height: 44px;
        margin-top: 5px;
    }
    55% {
        height: 44px;
        margin-top: 5px;
    }
    75% {
        height: 64px;
        margin-top: 0px;
    }
}
@-moz-keyframes bounce {
    45% {
        height: 44px;
        margin-top: 5px;
    }
    55% {
        height: 44px;
        margin-top: 5px;
    }
    75% {
        height: 64px;
        margin-top: 0px;
    }
}
@-o-keyframes bounce {
    45% {
        height: 44px;
        margin-top: 5px;
    }
    55% {
        height: 44px;
        margin-top: 5px;
    }
    75% {
        height: 64px;
        margin-top: 0px;
    }
}


/* Social 
==================== */
.social { float:right;}
#twitter,
#facebook,
#rss,
#linkedin { 
	-webkit-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
	width: 48px; 
	height: 48px; 
	display: inline-block;
}
#twitter { background: url('../images/twitter-grey.png'); }
#twitter:hover { background: url('../images/twitter.png'); }
#facebook { background: url('../images/facebook-grey.png'); }
#facebook:hover { background: url('../images/facebook.png'); }
#rss { background: url('../images/rss-grey.png'); }
#rss:hover { background: url('../images/rss.png'); }
#linkedin { background: url('../images/linkedin-grey.png'); }
#linkedin:hover { background: url('../images/linkedin.png'); }

/* Clearfix 
==================== */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
} .clearfix:after { clear:both; }

/* Banner Image 
===================== */
.banner-image img {
	-webkit-box-shadow: 0 20px 8px -6px #777;
	-moz-box-shadow: 0 20px 8px -6px #777;
	box-shadow: 0 20px 8px -6px #777;
	width: 100%;
}

/* Quote Blurb
====================== */
.quote { 
	background: url('../images/bg_blurb.jpg');
	margin-top: 3rem; 
	padding: 1.5rem; 
	box-shadow: inset 0 0 2px #ccccc1; 
}
.quote p { float: left; width: 75%;}
.quote img { float: right; margin-top: .5rem; width: 25%;}

/* Columns 
======================= */
.columns { padding-bottom: 2rem; }
.columns h2 { font-size: 1.3rem; }
.columns p { font-size: .8rem; }
.columns a { color: #327bad; font-size: .85em;}
.columns img { 
	width: 100%; 
	padding: 1px; 
	box-shadow: 0 0 0 5px #eee;
	text-align: left;
}
.column1, .column2, .column3 { padding-right: 1rem; display: inline-block; width: 32%; }

/* Footer 
======================= */
footer { 
	background-color: black; 
	color: #333333;
	padding: 2.5rem 0 2rem 0;
}

footer h3 { color: #BFCCCC; }

.blog-roll, 
.text-widget, 
.meta-widget { 
	width: 25%;
	float:left; 
	padding: 0 .5rem 0 .5rem;
}
.text-widget { width: 50%; }

.blog-roll span:first-of-type,
.text-widget p,
.meta-widget span:first-of-type {
	border-top: 1px solid #333333;
}
.blog-roll a, 
.text-widget a, 
.meta-widget a { 
	color: #333333;
}
.blog-roll span,
 .text-widget span,
 .meta-widget span { 
 	display: block; 
 	border-bottom: 1px solid #333333;
 	padding: .5rem 0;
}
.credits { font-size: .8rem; clear: both; padding-top: 2rem; }
#copyright { float:left; }
#good-friends-credit { float: right;}



/* ============================== */


/* Media Queries 
========================== */
@media (max-width: 55rem) {
	p { font-size: 1rem; }
	.logo { position: inherit; float: none;}
	.logo img { display: block; margin: 0 auto; min-width: 50%;}
	.quote p { width: 100%; }
	.quote img { 
		width: inherit; 
		float: none; 
		display: block; 
		margin: 0 auto;
	}
	.gray-bg { min-height: 15rem; height: 25%; }
	.column1, .column2, .column3 { width: 100%; }
	.social { display: none; }
	.blog-roll, .meta-widget { width: 50%; }
	.text-widget { display: none;}
}
